/*------------------------------------*\
    TYPES
    Scale: 
    http://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
\*------------------------------------*/

/**
 * Sizes
 */



/**
 * Heading reset
 */

@include headings(1,6){
    line-height: 1.4;    
    font-weight: normal;
    font-weight: bold;
    font-family: $base-heading-font;
    margin: 1.5em 0 0.5em 0;
}

h3{
    margin-top: 1.5em;
}

h1{
    @include font-size(30px, false);
    margin-top: 0;
    margin-bottom: 0.5em;

    @include media(medium){
        @include font-size(40px, false);
        margin-bottom: 1em;
    }

}

h2, .beta{ 
    @include beta;
}

h3, .gamma{
    @include gamma;
}

h4, .delta{
    
    @include delta;
}

h5{
    font-size: 1em;
}


h6{
    font-size: 0.833em;
}


/* Text lead */

.text-lead{
    @include font-size(20px, false);    
    font-weight: 100;    
    font-family: $base-heading-font;

    @include media(medium){
        @include font-size(30px, false);
    }
}


/**
 * Text emphasis
 */

.text-emphasis{
    font-style: italic;    
    color: $brand-grey;    
}


/**
 * Text small
 */

.text-small{
    @include font-size(14px, false);
}


/**
 * Text label
 */

.text-label{
    text-transform: uppercase;
    font-family: $base-heading-font;
    @extend .text-small;    
    
    &, &:hover, &:visited{
        //color: $base-color;
        color: #666;
    }
}


/**
 * Clients
 */

.text-clients{
    //@extend .text-small;
    font-family: $base-heading-font;    
}