/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    BRAND
\*------------------------------------*/
/*------------------------------------*\
    LINKS
\*------------------------------------*/
/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/* 0 - 480 (mobile), 480+ (medium), 600+ (tablet), 960+ (desktop), 1300+ (wide) */
/*------------------------------------*\
    MIXINS
\*------------------------------------*/
/**
 * Clearfix
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida, @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */
/**
 * Link Colors: Part of Compass
 */
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * Font size mixin
 */
/**
 * Rem Units
 * Converts properties to both REM and Pixel Values. Based on line-height
 * @include rem(margin-bottom, 0.5)
 * @include rem(padding, 1, 20px);
 */
/**
 * Helper function for REM
 * @include rem-full(padding, 10px 20px 10px 30px);
 */
/**
 * Media query
 * $breakpoints defined in variables.scss
 */
/**
 * Grids
 */
/**
 * Calculates Percentage for each column
 */
/**
 * Convert numbers to words
 * 1 => 'one'
 */
/* Row */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em; }

.link-twitter:before, .link-linkedin:before, .link-gplus:before, .link-github:before, .link-facebook:before, .hamburger:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.3em;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * Base
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*------------------------------------*\
    RESET
\*------------------------------------*/
/**
* Let’s make the box model all nice, shall we...?
*/
*, *:before, *:after {
  box-sizing: border-box; }

/**
 * The usual...
 */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title], dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
u, ins {
  text-decoration: none; }

/**
 * Apply faux underline via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic; }

/**
 * Give form elements some cursor interactions...
 */
label, input, textarea, button, select, option {
  cursor: pointer; }

.text-input:active, .text-input:focus, textarea:active, textarea:focus {
  cursor: text;
  outline: none; }

/*------------------------------------*\
    $SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
/**
 * Base elements
 */
h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre {
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }
  .islet h1, .islet h2, .islet h3, .islet h4, .islet h5, .islet h6, .islet hgroup, .islet ul, .islet ol, .islet dl, .islet blockquote, .islet p, .islet address, .islet table, .islet fieldset, .islet figure, .islet pre {
    margin-bottom: 13px;
    margin-bottom: 0.8125rem; }

/**
 * Doubled up `margin-bottom` helper class.
 */
.landmark {
  margin-bottom: 52px;
  margin-bottom: 3.25rem; }

/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul, ol, dd {
  margin-left: 52px;
  margin-left: 3.25rem; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*------------------------------------*\
    BASE.CSS
\*------------------------------------*/
/**
 * HTML
 */
html {
  font: 1em/1.625 'Merriweather', Helvetica, Arial, sans-serif;
  color: #7A7B7D;
  text-rendering: optimizeLegibility; }

/**
 * Container
 */
/**
 * Image
 */
img {
  max-width: 100%;
  vertical-align: top; }

/**
 * Figure
 */
figure, object {
  margin: 1em 0 2em 0;
  text-align: center;
  display: block; }

/* Caption */
figcaption {
  font-style: italic;
  padding-top: 1em;
  font-size: 16px;
  font-size: 1rem; }

/* Figure right */
.figure-right {
  float: right;
  margin-left: 1em;
  margin-top: 0; }

.figure-left {
  text-align: left; }

/**
 * Home banner
 */
.banner {
  background: #67686A url(../images/pr-background.jpg) top no-repeat;
  background-size: cover;
  color: #fff; }

/*------------------------------------*\
    SHARED
\*------------------------------------*/
/**
 * Map
 */
#Map {
  width: 100%;
  height: 320px;
  margin: 0 0 2em 0;
  border: 1px #d5dbe6 solid;
  display: none; }
  @media only screen and (min-width: 768px) {
    #Map {
      display: block; } }
  #Map img {
    max-width: none; }

/**
 * Pre code styling
 */
pre {
  background: #eee;
  font-size: 16px;
  font-size: 1rem;
  border-radius: 3px;
  margin: 1em 0 2em 0; }

/**
 * Elements
 */
/*------------------------------------*\
    ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    LINKS
\*------------------------------------*/
a {
  color: #F58220;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/**
 * Social links
 */
.link-twitter, .link-linkedin, .link-gplus, .link-github, .link-facebook {
  color: #67686A; }
  .link-twitter:hover, .link-linkedin:hover, .link-gplus:hover, .link-github:hover, .link-facebook:hover {
    background-color: #67686A;
    color: #fff; }
  .link-twitter:before, .link-linkedin:before, .link-gplus:before, .link-github:before, .link-facebook:before {
    content: "\e79b"; }
  .footer .link-twitter, .footer .link-linkedin, .footer .link-gplus, .footer .link-github, .footer .link-facebook {
    background: #fff;
    color: #F58220; }
    .footer .link-twitter:hover, .footer .link-linkedin:hover, .footer .link-gplus:hover, .footer .link-github:hover, .footer .link-facebook:hover {
      background-color: #67686A;
      color: #fff; }

.link-linkedin:before {
  content: "\e79a"; }

.link-gplus:before {
  content: "\e799"; }

.link-github:before {
  content: "\e79d"; }

.link-facebook:before {
  content: "\e79c"; }

/**
     * Link rounded
     */
.link-round {
  background: #C9CAD0;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 0.5em; }
  .link-round:before {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0;
    line-height: 40px; }

/*------------------------------------*\
    FORMS
\*------------------------------------*/
.text-input, textarea {
  border: 1px #d5dbe6 solid;
  padding: 0.6em 1em;
  transition: all 0.1s ease-in;
  transition-property: border;
  vertical-align: middle;
  color: #7A7B7D;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }

/**
 * Forms
 */
/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
.btn {
  line-height: normal;
  padding: 0.6em 1em;
  background: #67686A;
  border: none;
  /* [6] */
  border: 1px #d5dbe6 solid;
  white-space: normal;
  display: inline-block;
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  font-family: inherit;
  /* [4] */
  font-size: 100%;
  /* [4] */
  cursor: pointer;
  /* [5] */
  margin: 0;
  /* [6] */
  border-radius: 2px;
  /* [8] */
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
  appearance: none; }

/*------------------------------------*\
    TABLE
\*------------------------------------*/
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  font-size: 1rem; }
  table td, table th {
    vertical-align: top;
    padding: 0.8em 1em;
    border: 1px #d5dbe6 solid; }
  table thead th, table thead td {
    background: #eee; }

/*------------------------------------*\
    LIST
\*------------------------------------*/
li {
  margin-bottom: 0.5em; }

/**
 * Components
 */
/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/
/*------------------------------------*\
    BRANDING
\*------------------------------------*/
/**
 * Site header
 */
.site-header {
  background: #F58220;
  color: #fff;
  padding: 0.9em 1em;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  position: relative; }
  .site-header:before, .site-header:after {
    content: " ";
    display: table; }
  .site-header:after {
    clear: both; }
  .site-header a {
    color: #fff; }
    .site-header a:hover {
      color: #fff; }
    .site-header a:active {
      color: #fff; }

/* Branding */
.branding {
  padding: 2em 1em;
  text-align: center;
  display: none;
  /* Show in homepage */ }
  @media only screen and (min-width: 960px) {
    .branding {
      display: block; } }
  .home .branding {
    display: block; }
    @media only screen and (min-width: 960px) {
      .home .branding {
        border-bottom: none; } }

/* Logo */
.logo {
  background: url(../images/pebbleroad-logo.svg) top left no-repeat;
  width: 230px;
  height: 80px;
  text-indent: -2000em;
  display: inline-block;
  vertical-align: top;
  /* No SVG */ }
  .no-svg .logo {
    background-image: url("../images/pebbleroad-logo.png"); }
  .home .logo {
    background-image: url("../images/pebbleroad-logo-white.svg"); }
    .no-svg .home .logo {
      background-image: url("../images/pebbleroad-logo-white.png"); }

/**
     * Mobile logo
     */
.logo-small {
  background: url(../images/pebbles-white.svg) top left no-repeat;
  background-size: auto 30px;
  height: 30px;
  width: 38px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em; }
  .no-svg .logo-small {
    background-image: url("../images/pebbles-white.png"); }
  .site-header .logo-small {
    float: left;
    margin: 0; }
    @media only screen and (min-width: 960px) {
      .site-header .logo-small {
        display: none; } }

/**
 * Hamburger
 */
.hamburger {
  font-size: 2em;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 60px;
  text-align: center;
  line-height: 58px; }
  .hamburger:before {
    content: "\e757";
    margin: 0; }
  .hamburger:hover, .hamburger:active, .hamburger:focus, .menu-open .hamburger {
    background-color: #c05b09; }
  @media only screen and (min-width: 960px) {
    .hamburger {
      display: none; } }

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/
.nav-main {
  position: relative;
  clear: both;
  background: #67686A;
  margin: 0 -1em -1em -1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1em 0;
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  letter-spacing: 1px;
  /* Active */ }
  @media only screen and (min-width: 960px) {
    .nav-main {
      display: block;
      margin: 0;
      padding: 0;
      box-shadow: none;
      background: transparent;
      position: relative;
      width: auto;
      top: auto; } }
  .nav-main a {
    text-transform: uppercase;
    padding: 0.5em 1em;
    display: block; }
    @media only screen and (min-width: 960px) {
      .nav-main a {
        padding: 0 0.4em;
        display: inline; }
        .nav-main a:before {
          content: " / ";
          display: inline-block;
          vertical-align: top;
          margin-right: 0.8em;
          line-height: 1.3; }
        .nav-main a:first-child:before {
          content: ""; } }
  .nav-main .active {
    font-weight: bold; }
    .nav-main .active:before {
      color: white;
      font-weight: 100; }

/**
     * Open menu
     */
.menu-open .nav-main {
  display: block;
  z-index: 1; }

/**
 * nav footer
 */
.nav-footer > a {
  display: block;
  padding-bottom: 0em; }

/**
 * Services nav
 */
.nav-services {
  padding-top: 1em;
  padding-bottom: 1.5em; }
  @media only screen and (min-width: 601px) {
    .nav-services {
      display: table;
      width: 100%;
      table-layout: fixed;
      margin-bottom: 1em; } }
  .nav-services > a {
    vertical-align: top;
    display: block;
    color: #fff; }
    @media only screen and (min-width: 601px) {
      .nav-services > a {
        display: table-cell;
        padding-bottom: 0; } }
    .nav-services > a:hover {
      text-decoration: none; }
      .nav-services > a:hover .icon {
        background-color: #F58220;
        color: #fff; }
  .nav-services .icon {
    font-size: 44px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #4A4A4A;
    background-color: rgba(74, 74, 74, 0.9);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #9B9B9B;
    border-radius: 100%;
    margin: 0;
    display: none; }
    @media only screen and (min-width: 601px) {
      .nav-services .icon {
        display: inline-block; } }
  .nav-services h2 {
    margin: 1em 0 0 0;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 100; }

/*------------------------------------*\
    ARTICLE
\*------------------------------------*/
.article-header {
  text-align: center;
  font-weight: 100; }
  .article-header .container {
    padding-top: 2em;
    padding-bottom: 1em; }
    @media only screen and (min-width: 960px) {
      .article-header .container {
        border-top: 1px #444 solid;
        border-top: 1px rgba(0, 0, 0, 0.1) solid;
        padding-top: 3em;
        padding-bottom: 1em; } }

/**
     * Home
     */
.home .article-header .container {
  border-top: none; }

/**
 * Blurb
 */
.blurb {
  text-align: center;
  font-weight: 100;
  padding: 2em 0;
  background: #eee;
  font-size: 16px;
  font-size: 1rem; }
  .blurb p {
    margin-bottom: 1em; }

/**
 * Meta properties
 */
.text-date, .text-authors {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase; }
  @media only screen and (min-width: 960px) {
    .text-date, .text-authors {
      margin-bottom: 2em; } }

.text-share {
  margin-bottom: 2em; }

@media only screen and (min-width: 960px) {
  .text-date {
    margin-bottom: 1em; } }

/**
     * Author
     */
.listing .text-authors, .listing .text-date {
  margin-bottom: 1em; }

/**
 * Body
 */
.article-body {
  max-width: 888px;
  margin: 0 auto;
  padding-bottom: 2em;
  margin-top: 2em; }

/**
 * listing articles
 */
.listing {
  border-bottom: 1px #d5dbe6 solid;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-bottom: 2em;
  font-size: 16px;
  font-size: 1rem;
  /* Figure */ }
  .listing:before, .listing:after {
    content: " ";
    display: table; }
  .listing:after {
    clear: both; }
  @media only screen and (min-width: 768px) {
    .listing {
      margin-top: 3em; } }
  .listing:last-child {
    border-bottom: none; }
  .listing .split-left {
    margin-bottom: 1em; }
  .listing h2 {
    margin-top: 0;
    font-size: 24px;
    font-size: 1.5rem; }
    @media only screen and (min-width: 601px) {
      .listing h2 {
        font-size: 26px;
        font-size: 1.625rem; } }
  .listing h3 {
    margin-top: 0.5em; }

/**
     * Listing split
     */
@media only screen and (min-width: 768px) {
  .listing-split {
    padding-left: 300px; } }
@media only screen and (min-width: 768px) {
  .listing-split .split-left {
    width: 300px;
    float: left;
    margin-left: -300px;
    padding-right: 2em; } }

/**
     * Split left
     */
.split-left {
  margin-top: 0; }
  .split-left h2 {
    margin-top: 0; }

/**
     * Person
     */
.figure-person {
  margin-top: 1em; }
  @media only screen and (min-width: 768px) {
    .figure-person img {
      border-radius: 100%;
      width: 150px;
      background-color: #9B9B9B; } }

/**
 * Article grid
 */
.article-grid {
  font-size: 16px;
  font-size: 1rem;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em; }
  @media only screen and (min-width: 768px) {
    .article-grid {
      display: table;
      table-layout: fixed;
      width: 100%;
      border-spacing: 1em 0em;
      padding-left: 0;
      padding-right: 0;
      padding-top: 1em; }
      .article-grid:first-child {
        margin-bottom: 0; } }
  .article-grid > article, .article-grid > a {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
    display: block;
    direction: ltr; }
    @media only screen and (min-width: 768px) {
      .article-grid > article, .article-grid > a {
        padding: 1.5em;
        margin: 0;
        display: table-cell;
        vertical-align: top;
        height: 300px;
        width: 33.333%; } }
  .article-grid .newsletter {
    background: #6A6A74; }
  .article-grid h3 {
    font-size: 20px;
    font-size: 1.25rem; }
    @media only screen and (min-width: 601px) {
      .article-grid h3 {
        font-size: 20px;
        font-size: 1.25rem; } }
  .article-grid h3 {
    margin-top: 0.5em; }
  .article-grid p {
    margin-bottom: 0; }

/**
 * Article grid on mobile
 */
@media only screen and (min-width: 768px) {
  .grid-flip-mobile {
    direction: rtl; } }

/**
     * Newsletter
     */
.newsletter {
  text-align: center;
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #6A6A74;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4; }
  .newsletter:hover {
    background-color: #5e5e67; }
  .newsletter, .newsletter:hover {
    text-decoration: none; }
  .newsletter .title {
    font-weight: 100;
    color: #fff;
    font-size: 30px; }
  .newsletter p {
    margin-bottom: 0.8em; }
  .newsletter .link {
    color: #F58220;
    margin-bottom: 0; }

/**
 * Card
 */
.card {
  padding: 1em;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
  font-size: 16px;
  font-size: 1rem; }
  .card h2, .card h3 {
    margin-top: 0; }

/**
 * Comments
 */
.comments {
  padding: 2em 0;
  border-top: 1px #d5dbe6 solid;
  margin-top: 3em; }
  @media only screen and (min-width: 960px) {
    .comments {
      padding-left: 1em;
      padding-right: 1em; } }

/**
 * Article grid
 */
.article-columns {
  margin-bottom: 2em; }
  .article-columns:before, .article-columns:after {
    content: " ";
    display: table; }
  .article-columns:after {
    clear: both; }
  .article-columns article {
    display: block;
    vertical-align: top;
    height: auto;
    background: #eee;
    margin: 0 0 1em 0;
    border: none;
    padding: 1em; }
    @media only screen and (min-width: 601px) {
      .article-columns article {
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding: 1.5em; } }
  .article-columns figure {
    display: block;
    float: none;
    position: relative;
    margin: -1em -1em 1em -1em;
    border: 1px #eee solid; }
    @media only screen and (min-width: 601px) {
      .article-columns figure {
        margin: -1.5em -1.5em 1.5em -1.5em; } }
    .article-columns figure:before {
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-in;
      /* FF3.6+ */
      /* Chrome,Safari4+ */
      /* Chrome10+,Safari5.1+ */
      /* Opera 12+ */
      /* IE10+ */
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
      /* W3C */ }
    .article-columns figure:hover:before {
      opacity: 0.5; }
  .article-columns h2 {
    font-size: 24px;
    font-size: 1.5rem; }
    @media only screen and (min-width: 601px) {
      .article-columns h2 {
        font-size: 26px;
        font-size: 1.625rem; } }
  .article-columns:before {
    content: '2 .column.size-1of2'; }

/**
 * Columns
 * @type {[type]}
 */
@media only screen and (min-width: 601px) {
  .column {
    float: left; } }

@media only screen and (min-width: 601px) {
  .size-1of2 {
    width: 50%; } }

/**
 * Listing services
 */
.listing-services h3 {
  font-size: 20px;
  font-size: 1.25rem; }
  @media only screen and (min-width: 601px) {
    .listing-services h3 {
      font-size: 20px;
      font-size: 1.25rem; } }

/**
 * Hide location link in mobile
 */
@media only screen and (min-width: 768px) {
  .text-map {
    display: none; } }

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
.footer {
  background: #F58220;
  color: #fff;
  padding: 0em 0 2em 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-weight: 100;
  /* Copyright */
  /* Grids */ }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #fff; }
    .footer a:active {
      color: #fff; }
  .footer .text-copyright {
    margin-bottom: 1em; }
  .footer h2, .footer h3 {
    font-weight: 400; }
  .footer h2 {
    font-size: 24px;
    font-size: 1.5rem; }
  .footer .grid {
    display: none; }
    @media only screen and (min-width: 768px) {
      .footer .grid {
        display: table; } }

/**
 * Grids
 */
.grid {
  margin-bottom: 3em;
  width: 100%;
  text-align: left; }
  .grid h2 {
    margin-bottom: 1em; }
  @media only screen and (min-width: 768px) {
    .grid {
      display: table;
      table-layout: fixed; }
      .grid > .grid-item {
        display: table-cell;
        padding-bottom: 0; } }

/**
 * Subscribe form
 */
.form-subscribe {
  position: relative;
  font-size: 14px; }
  .form-subscribe .text-input {
    border-radius: 20px;
    border-color: transparent;
    margin: 0;
    padding-right: 100px;
    height: 35px; }
  .form-subscribe .btn {
    position: absolute;
    right: -1px;
    top: 0;
    border: none;
    margin: 0;
    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 96px;
    height: 35px; }

/**
 * callout
 */
.callout {
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
  padding-top: 1em; }
  .callout h2 {
    font-weight: 100;
    font-size: 24px;
    font-size: 1.5rem; }
    @media only screen and (min-width: 601px) {
      .callout h2 {
        font-size: 26px;
        font-size: 1.625rem; } }
  .callout a {
    font-weight: 400; }
  @media only screen and (min-width: 768px) {
    .callout {
      margin-bottom: 0; } }

/**
 * Address
 */
.text-address {
  line-height: 1.5; }

.text-phone {
  margin-bottom: 0em; }

/* http://prismjs.com/download.html?themes=prism-coy&languages=markup+css+clike+javascript */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */
code[class*="language-"], pre[class*="language-"] {
  color: black;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  margin: 0.5em 0;
  box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  border-left: 10px solid #358ccb;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  overflow: visible;
  max-height: 30em; }

code[class*="language"] {
  max-height: inherit;
  height: 100%;
  padding: 0 1em;
  display: block;
  overflow: auto; }

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: #fdfdfd;
  box-sizing: border-box;
  margin-bottom: 2em; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: 0.2em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1); }

pre[class*="language-"]:before, pre[class*="language-"]:after {
  content: '';
  z-index: -2;
  display: block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
  box-shadow: 0px 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg); }

:not(pre) > code[class*="language-"]:after, pre[class*="language-"]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg); }

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
  color: #7D8B99; }

.token.punctuation {
  color: #5F6364; }

.token.property, .token.tag, .token.boolean, .token.number, .token.function-name, .token.constant, .token.symbol, .token.deleted {
  color: #c92c2c; }

.token.selector, .token.attr-name, .token.string, .token.char, .token.function, .token.builtin, .token.inserted {
  color: #2f9c0a; }

.token.operator, .token.entity, .token.url, .token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule, .token.attr-value, .token.keyword, .token.class-name {
  color: #1990b8; }

.token.regex, .token.important {
  color: #e90; }

.language-css .token.string, .style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.important {
  font-weight: normal; }

.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.namespace {
  opacity: 0.7; }

@media screen and (max-width: 767px) {
  pre[class*="language-"]:before, pre[class*="language-"]:after {
    bottom: 14px;
    box-shadow: none; } }

/* Plugin styles */
.token.tab:not(:empty):before, .token.cr:before, .token.lf:before {
  color: #e0d7d1; }

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
  padding-left: 0; }

pre[class*="language-"].line-numbers code {
  padding-left: 3.8em; }

pre[class*="language-"].line-numbers .line-numbers-rows {
  left: 0; }

/**
 * Type
 */
/*------------------------------------*\
    TYPES
    Scale: 
    http://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
\*------------------------------------*/
/**
 * Sizes
 */
/**
 * Heading reset
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: normal;
  font-weight: bold;
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin: 1.5em 0 0.5em 0; }

h3 {
  margin-top: 1.5em; }

h1 {
  font-size: 30px;
  font-size: 1.875rem;
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media only screen and (min-width: 601px) {
    h1 {
      font-size: 40px;
      font-size: 2.5rem;
      margin-bottom: 1em; } }

h2, .beta {
  font-size: 28px;
  font-size: 1.75rem; }
  @media only screen and (min-width: 601px) {
    h2, .beta {
      font-size: 34px;
      font-size: 2.125rem; } }

h3, .gamma {
  font-size: 24px;
  font-size: 1.5rem; }
  @media only screen and (min-width: 601px) {
    h3, .gamma {
      font-size: 26px;
      font-size: 1.625rem; } }

h4, .delta {
  font-size: 20px;
  font-size: 1.25rem; }
  @media only screen and (min-width: 601px) {
    h4, .delta {
      font-size: 20px;
      font-size: 1.25rem; } }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.833em; }

/* Text lead */
.text-lead {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 100;
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif; }
  @media only screen and (min-width: 601px) {
    .text-lead {
      font-size: 30px;
      font-size: 1.875rem; } }

/**
 * Text emphasis
 */
.text-emphasis, .listing-services h3 {
  font-style: italic;
  color: #67686A; }

/**
 * Text small
 */
.text-small, .listing .text-authors, .listing .text-date, .text-label {
  font-size: 14px;
  font-size: 0.875rem; }

/**
 * Text label
 */
.text-label {
  text-transform: uppercase;
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif; }
  .text-label, .text-label:hover, .text-label:visited {
    color: #666; }

/**
 * Clients
 */
.text-clients {
  font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif; }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-tyar7d');
  src: url('../fonts/icomoon.eot?#iefix-tyar7d') format('embedded-opentype'), url('../fonts/icomoon.woff?-tyar7d') format('woff'), url('../fonts/icomoon.ttf?-tyar7d') format('truetype'), url('../fonts/icomoon.svg?-tyar7d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.3em;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-github:before {
  content: "\e79d"; }

.icon-google-plus:before {
  content: "\e799"; }

.icon-linkedin:before {
  content: "\e79a"; }

.icon-twitter:before {
  content: "\e79b"; }

.icon-facebook:before {
  content: "\e79c"; }

.icon-workplace:before {
  content: "\e600"; }

.icon-home:before {
  content: "\e601"; }

.icon-home2:before {
  content: "\e602"; }

.icon-home3:before {
  content: "\e603"; }

.icon-home4:before {
  content: "\e604"; }

.icon-home5:before {
  content: "\e605"; }

.icon-home6:before {
  content: "\e606"; }

.icon-pencil:before {
  content: "\e607"; }

.icon-pencil2:before {
  content: "\e608"; }

.icon-edit:before {
  content: "\e609"; }

.icon-edit2:before {
  content: "\e60a"; }

.icon-feather:before {
  content: "\e60b"; }

.icon-feather2:before {
  content: "\e60c"; }

.icon-pen:before {
  content: "\e60d"; }

.icon-brush:before {
  content: "\e60e"; }

.icon-paintbrush:before {
  content: "\e60f"; }

.icon-paint-roller:before {
  content: "\e610"; }

.icon-eye-dropper:before {
  content: "\e611"; }

.icon-magic:before {
  content: "\e612"; }

.icon-design:before {
  content: "\e613"; }

.icon-magnet:before {
  content: "\e614"; }

.icon-aim:before {
  content: "\e615"; }

.icon-gun:before {
  content: "\e616"; }

.icon-droplet:before {
  content: "\e617"; }

.icon-droplet2:before {
  content: "\e618"; }

.icon-fire:before {
  content: "\e619"; }

.icon-lighter:before {
  content: "\e61a"; }

.icon-knife:before {
  content: "\e61b"; }

.icon-toilet-paper:before {
  content: "\e61c"; }

.icon-umbrella:before {
  content: "\e61d"; }

.icon-sun-small:before {
  content: "\e61e"; }

.icon-sun:before {
  content: "\e61f"; }

.icon-moon:before {
  content: "\e620"; }

.icon-cloud:before {
  content: "\e621"; }

.icon-cloud-upload:before {
  content: "\e622"; }

.icon-cloud-download:before {
  content: "\e623"; }

.icon-cloud-rain:before {
  content: "\e624"; }

.icon-cloud-snow:before {
  content: "\e625"; }

.icon-cloud-fog:before {
  content: "\e626"; }

.icon-cloud-lightning:before {
  content: "\e627"; }

.icon-cloud-sync:before {
  content: "\e628"; }

.icon-cloud-lock:before {
  content: "\e629"; }

.icon-cloud-gear:before {
  content: "\e62a"; }

.icon-cloud-database:before {
  content: "\e62b"; }

.icon-database:before {
  content: "\e62c"; }

.icon-shield:before {
  content: "\e62d"; }

.icon-lock:before {
  content: "\e62e"; }

.icon-unlock:before {
  content: "\e62f"; }

.icon-key:before {
  content: "\e630"; }

.icon-key-hole:before {
  content: "\e631"; }

.icon-gear:before {
  content: "\e632"; }

.icon-gear2:before {
  content: "\e633"; }

.icon-wrench:before {
  content: "\e634"; }

.icon-tools:before {
  content: "\e635"; }

.icon-hammer:before {
  content: "\e636"; }

.icon-factory:before {
  content: "\e637"; }

.icon-factory2:before {
  content: "\e638"; }

.icon-recycle:before {
  content: "\e639"; }

.icon-trash:before {
  content: "\e63a"; }

.icon-trash2:before {
  content: "\e63b"; }

.icon-heart:before {
  content: "\e63c"; }

.icon-heart2:before {
  content: "\e63d"; }

.icon-flag:before {
  content: "\e63e"; }

.icon-flag2:before {
  content: "\e63f"; }

.icon-flag3:before {
  content: "\e640"; }

.icon-at-sign:before {
  content: "\e641"; }

.icon-envelope:before {
  content: "\e642"; }

.icon-inbox:before {
  content: "\e643"; }

.icon-paperclip:before {
  content: "\e644"; }

.icon-reply:before {
  content: "\e645"; }

.icon-reply-all:before {
  content: "\e646"; }

.icon-paper-plane:before {
  content: "\e647"; }

.icon-eye:before {
  content: "\e648"; }

.icon-eye2:before {
  content: "\e649"; }

.icon-binoculars:before {
  content: "\e64a"; }

.icon-binoculars2:before {
  content: "\e64b"; }

.icon-floppy-disk:before {
  content: "\e64c"; }

.icon-printer:before {
  content: "\e64d"; }

.icon-file:before {
  content: "\e64e"; }

.icon-folder:before {
  content: "\e64f"; }

.icon-copy:before {
  content: "\e650"; }

.icon-scissors:before {
  content: "\e651"; }

.icon-paste:before {
  content: "\e652"; }

.icon-clipboard:before {
  content: "\e653"; }

.icon-clipboard-check:before {
  content: "\e654"; }

.icon-register:before {
  content: "\e655"; }

.icon-enter:before {
  content: "\e656"; }

.icon-exit:before {
  content: "\e657"; }

.icon-papers:before {
  content: "\e658"; }

.icon-news:before {
  content: "\e659"; }

.icon-document:before {
  content: "\e65a"; }

.icon-document2:before {
  content: "\e65b"; }

.icon-license:before {
  content: "\e65c"; }

.icon-graduation-hat:before {
  content: "\e65d"; }

.icon-license2:before {
  content: "\e65e"; }

.icon-medal:before {
  content: "\e65f"; }

.icon-medal2:before {
  content: "\e660"; }

.icon-medal3:before {
  content: "\e661"; }

.icon-medal4:before {
  content: "\e662"; }

.icon-podium:before {
  content: "\e663"; }

.icon-trophy:before {
  content: "\e664"; }

.icon-music-note:before {
  content: "\e665"; }

.icon-music:before {
  content: "\e666"; }

.icon-music2:before {
  content: "\e667"; }

.icon-playlist:before {
  content: "\e668"; }

.icon-shuffle:before {
  content: "\e669"; }

.icon-headset:before {
  content: "\e66a"; }

.icon-presentation:before {
  content: "\e66b"; }

.icon-play:before {
  content: "\e66c"; }

.icon-film-play:before {
  content: "\e66d"; }

.icon-camera:before {
  content: "\e66e"; }

.icon-photo:before {
  content: "\e66f"; }

.icon-picture:before {
  content: "\e670"; }

.icon-book:before {
  content: "\e671"; }

.icon-book-closed:before {
  content: "\e672"; }

.icon-bookmark:before {
  content: "\e673"; }

.icon-bookmark2:before {
  content: "\e674"; }

.icon-books:before {
  content: "\e675"; }

.icon-library:before {
  content: "\e676"; }

.icon-contacts:before {
  content: "\e677"; }

.icon-profile:before {
  content: "\e678"; }

.icon-user:before {
  content: "\e679"; }

.icon-users:before {
  content: "\e67a"; }

.icon-users2:before {
  content: "\e67b"; }

.icon-woman:before {
  content: "\e67c"; }

.icon-man:before {
  content: "\e67d"; }

.icon-shirt:before {
  content: "\e67e"; }

.icon-cart:before {
  content: "\e67f"; }

.icon-cart-empty:before {
  content: "\e680"; }

.icon-cart-full:before {
  content: "\e681"; }

.icon-tag:before {
  content: "\e682"; }

.icon-tags:before {
  content: "\e683"; }

.icon-cash:before {
  content: "\e684"; }

.icon-credit-card:before {
  content: "\e685"; }

.icon-barcode:before {
  content: "\e686"; }

.icon-barcode2:before {
  content: "\e687"; }

.icon-barcode3:before {
  content: "\e688"; }

.icon-phone:before {
  content: "\e689"; }

.icon-phone2:before {
  content: "\e68a"; }

.icon-pin:before {
  content: "\e68b"; }

.icon-map-marker:before {
  content: "\e68c"; }

.icon-compass:before {
  content: "\e68d"; }

.icon-map:before {
  content: "\e68e"; }

.icon-location:before {
  content: "\e68f"; }

.icon-road-sign:before {
  content: "\e690"; }

.icon-calendar:before {
  content: "\e691"; }

.icon-calendar2:before {
  content: "\e692"; }

.icon-calendar3:before {
  content: "\e693"; }

.icon-mouse:before {
  content: "\e694"; }

.icon-keyboard:before {
  content: "\e695"; }

.icon-delete:before {
  content: "\e696"; }

.icon-spell-check:before {
  content: "\e697"; }

.icon-screen:before {
  content: "\e698"; }

.icon-signal:before {
  content: "\e699"; }

.icon-iphone:before {
  content: "\e69a"; }

.icon-smartphone:before {
  content: "\e69b"; }

.icon-ipad:before {
  content: "\e69c"; }

.icon-tablet:before {
  content: "\e69d"; }

.icon-laptop:before {
  content: "\e69e"; }

.icon-desktop:before {
  content: "\e69f"; }

.icon-radio:before {
  content: "\e6a0"; }

.icon-tv:before {
  content: "\e6a1"; }

.icon-power:before {
  content: "\e6a2"; }

.icon-lightning-bolt:before {
  content: "\e6a3"; }

.icon-lamp:before {
  content: "\e6a4"; }

.icon-plug-cord:before {
  content: "\e6a5"; }

.icon-outlet:before {
  content: "\e6a6"; }

.icon-drawer:before {
  content: "\e6a7"; }

.icon-drawer2:before {
  content: "\e6a8"; }

.icon-drawer3:before {
  content: "\e6a9"; }

.icon-archive:before {
  content: "\e6aa"; }

.icon-archive2:before {
  content: "\e6ab"; }

.icon-comment:before {
  content: "\e6ac"; }

.icon-comments:before {
  content: "\e6ad"; }

.icon-chat:before {
  content: "\e6ae"; }

.icon-quote-open:before {
  content: "\e6af"; }

.icon-quote-close:before {
  content: "\e6b0"; }

.icon-pulse:before {
  content: "\e6b1"; }

.icon-syringe:before {
  content: "\e6b2"; }

.icon-first-aid:before {
  content: "\e6b3"; }

.icon-lifebuoy:before {
  content: "\e6b4"; }

.icon-patch:before {
  content: "\e6b5"; }

.icon-patch2:before {
  content: "\e6b6"; }

.icon-lab:before {
  content: "\e6b7"; }

.icon-skull:before {
  content: "\e6b8"; }

.icon-construction:before {
  content: "\e6b9"; }

.icon-construction-cone:before {
  content: "\e6ba"; }

.icon-pie-chart:before {
  content: "\e6bb"; }

.icon-pie-chart2:before {
  content: "\e6bc"; }

.icon-graph:before {
  content: "\e6bd"; }

.icon-chart-growth:before {
  content: "\e6be"; }

.icon-cake:before {
  content: "\e6bf"; }

.icon-gift:before {
  content: "\e6c0"; }

.icon-balloon:before {
  content: "\e6c1"; }

.icon-rank:before {
  content: "\e6c2"; }

.icon-rank2:before {
  content: "\e6c3"; }

.icon-rank3:before {
  content: "\e6c4"; }

.icon-crown:before {
  content: "\e6c5"; }

.icon-lotus:before {
  content: "\e6c6"; }

.icon-diamond:before {
  content: "\e6c7"; }

.icon-diamond2:before {
  content: "\e6c8"; }

.icon-diamond3:before {
  content: "\e6c9"; }

.icon-diamond4:before {
  content: "\e6ca"; }

.icon-linearicons:before {
  content: "\e6cb"; }

.icon-teacup:before {
  content: "\e6cc"; }

.icon-glass:before {
  content: "\e6cd"; }

.icon-bottle:before {
  content: "\e6ce"; }

.icon-cocktail-glass:before {
  content: "\e6cf"; }

.icon-dinner:before {
  content: "\e6d0"; }

.icon-dinner2:before {
  content: "\e6d1"; }

.icon-hamburger:before {
  content: "\e6d2"; }

.icon-dumbbell:before {
  content: "\e6d3"; }

.icon-apple:before {
  content: "\e6d4"; }

.icon-leaf:before {
  content: "\e6d5"; }

.icon-pine-tree:before {
  content: "\e6d6"; }

.icon-tree:before {
  content: "\e6d7"; }

.icon-paw:before {
  content: "\e6d8"; }

.icon-paw2:before {
  content: "\e6d9"; }

.icon-footprint:before {
  content: "\e6da"; }

.icon-speed-slow:before {
  content: "\e6db"; }

.icon-speed-medium:before {
  content: "\e6dc"; }

.icon-speed-fast:before {
  content: "\e6dd"; }

.icon-rocket:before {
  content: "\e6de"; }

.icon-gamepad:before {
  content: "\e6df"; }

.icon-dice:before {
  content: "\e6e0"; }

.icon-ticket:before {
  content: "\e6e1"; }

.icon-hammer2:before {
  content: "\e6e2"; }

.icon-balance:before {
  content: "\e6e3"; }

.icon-briefcase:before {
  content: "\e6e4"; }

.icon-plane:before {
  content: "\e6e5"; }

.icon-gas:before {
  content: "\e6e6"; }

.icon-transmission:before {
  content: "\e6e7"; }

.icon-car:before {
  content: "\e6e8"; }

.icon-bus:before {
  content: "\e6e9"; }

.icon-truck:before {
  content: "\e6ea"; }

.icon-trailer:before {
  content: "\e6eb"; }

.icon-train:before {
  content: "\e6ec"; }

.icon-ship:before {
  content: "\e6ed"; }

.icon-anchor:before {
  content: "\e6ee"; }

.icon-boat:before {
  content: "\e6ef"; }

.icon-bicycle:before {
  content: "\e6f0"; }

.icon-cube:before {
  content: "\e6f1"; }

.icon-puzzle:before {
  content: "\e6f2"; }

.icon-glasses:before {
  content: "\e6f3"; }

.icon-accessibility:before {
  content: "\e6f4"; }

.icon-wheelchir:before {
  content: "\e6f5"; }

.icon-icons:before {
  content: "\e6f6"; }

.icon-icons2:before {
  content: "\e6f7"; }

.icon-sitemap:before {
  content: "\e6f8"; }

.icon-earth:before {
  content: "\e6f9"; }

.icon-happy:before {
  content: "\e6fa"; }

.icon-smile:before {
  content: "\e6fb"; }

.icon-grin:before {
  content: "\e6fc"; }

.icon-tongue:before {
  content: "\e6fd"; }

.icon-sad:before {
  content: "\e6fe"; }

.icon-wink:before {
  content: "\e6ff"; }

.icon-dream:before {
  content: "\e700"; }

.icon-shocked:before {
  content: "\e701"; }

.icon-shocked2:before {
  content: "\e702"; }

.icon-tongue2:before {
  content: "\e703"; }

.icon-neutral:before {
  content: "\e704"; }

.icon-happy-grin:before {
  content: "\e705"; }

.icon-cool:before {
  content: "\e706"; }

.icon-mad:before {
  content: "\e707"; }

.icon-grin-evil:before {
  content: "\e708"; }

.icon-evil:before {
  content: "\e709"; }

.icon-shocked3:before {
  content: "\e70a"; }

.icon-annoyed:before {
  content: "\e70b"; }

.icon-mustache:before {
  content: "\e70c"; }

.icon-wondering:before {
  content: "\e70d"; }

.icon-confused:before {
  content: "\e70e"; }

.icon-bell:before {
  content: "\e70f"; }

.icon-bullhorn:before {
  content: "\e710"; }

.icon-volume-high:before {
  content: "\e711"; }

.icon-volume-medium:before {
  content: "\e712"; }

.icon-volume-low:before {
  content: "\e713"; }

.icon-volume:before {
  content: "\e714"; }

.icon-mute:before {
  content: "\e715"; }

.icon-wifi:before {
  content: "\e716"; }

.icon-wifi2:before {
  content: "\e717"; }

.icon-wifi3:before {
  content: "\e718"; }

.icon-mic:before {
  content: "\e719"; }

.icon-mic2:before {
  content: "\e71a"; }

.icon-mic-mute:before {
  content: "\e71b"; }

.icon-hourglass:before {
  content: "\e71c"; }

.icon-loading:before {
  content: "\e71d"; }

.icon-loading2:before {
  content: "\e71e"; }

.icon-loading3:before {
  content: "\e71f"; }

.icon-undo:before {
  content: "\e720"; }

.icon-redo:before {
  content: "\e721"; }

.icon-sync:before {
  content: "\e722"; }

.icon-sync2:before {
  content: "\e723"; }

.icon-refresh:before {
  content: "\e724"; }

.icon-refresh2:before {
  content: "\e725"; }

.icon-history:before {
  content: "\e726"; }

.icon-history2:before {
  content: "\e727"; }

.icon-clock:before {
  content: "\e728"; }

.icon-clock2:before {
  content: "\e729"; }

.icon-clock3:before {
  content: "\e72a"; }

.icon-clock4:before {
  content: "\e72b"; }

.icon-clock5:before {
  content: "\e72c"; }

.icon-timer:before {
  content: "\e72d"; }

.icon-timer2:before {
  content: "\e72e"; }

.icon-download:before {
  content: "\e72f"; }

.icon-upload:before {
  content: "\e730"; }

.icon-arrow-up:before {
  content: "\e731"; }

.icon-arrow-down:before {
  content: "\e732"; }

.icon-arrow-left:before {
  content: "\e733"; }

.icon-arrow-right:before {
  content: "\e734"; }

.icon-arrow-up2:before {
  content: "\e735"; }

.icon-arrow-down2:before {
  content: "\e736"; }

.icon-arrow-left2:before {
  content: "\e737"; }

.icon-arrow-right2:before {
  content: "\e738"; }

.icon-arrow-up3:before {
  content: "\e739"; }

.icon-arrow-down3:before {
  content: "\e73a"; }

.icon-arrow-left3:before {
  content: "\e73b"; }

.icon-arrow-right3:before {
  content: "\e73c"; }

.icon-arrow-up4:before {
  content: "\e73d"; }

.icon-arrow-down4:before {
  content: "\e73e"; }

.icon-arrow-left4:before {
  content: "\e73f"; }

.icon-arrow-right4:before {
  content: "\e740"; }

.icon-terminal:before {
  content: "\e741"; }

.icon-bug:before {
  content: "\e742"; }

.icon-code:before {
  content: "\e743"; }

.icon-file-code:before {
  content: "\e744"; }

.icon-file-image:before {
  content: "\e745"; }

.icon-file-zip:before {
  content: "\e746"; }

.icon-file-audio:before {
  content: "\e747"; }

.icon-file-video:before {
  content: "\e748"; }

.icon-link:before {
  content: "\e749"; }

.icon-link2:before {
  content: "\e74a"; }

.icon-unlink:before {
  content: "\e74b"; }

.icon-link3:before {
  content: "\e74c"; }

.icon-unlink2:before {
  content: "\e74d"; }

.icon-thumbs-up:before {
  content: "\e74e"; }

.icon-thumbs-down:before {
  content: "\e74f"; }

.icon-thumbs-up2:before {
  content: "\e750"; }

.icon-thumbs-down2:before {
  content: "\e751"; }

.icon-thumbs-up3:before {
  content: "\e752"; }

.icon-thumbs-down3:before {
  content: "\e753"; }

.icon-share:before {
  content: "\e754"; }

.icon-share2:before {
  content: "\e755"; }

.icon-share3:before {
  content: "\e756"; }

.icon-options:before {
  content: "\e757"; }

.icon-list:before {
  content: "\e758"; }

.icon-list2:before {
  content: "\e759"; }

.icon-magnifier:before {
  content: "\e75a"; }

.icon-zoom-in:before {
  content: "\e75b"; }

.icon-zoom-out:before {
  content: "\e75c"; }

.icon-question:before {
  content: "\e75d"; }

.icon-checkmark:before {
  content: "\e75e"; }

.icon-cross:before {
  content: "\e75f"; }

.icon-chevron-up:before {
  content: "\e760"; }

.icon-chevron-down:before {
  content: "\e761"; }

.icon-chevron-left:before {
  content: "\e762"; }

.icon-chevron-right:before {
  content: "\e763"; }

.icon-arrow-up5:before {
  content: "\e764"; }

.icon-arrow-down5:before {
  content: "\e765"; }

.icon-arrow-left5:before {
  content: "\e766"; }

.icon-arrow-right5:before {
  content: "\e767"; }

.icon-expand:before {
  content: "\e768"; }

.icon-shrink:before {
  content: "\e769"; }

.icon-expand2:before {
  content: "\e76a"; }

.icon-shrink2:before {
  content: "\e76b"; }

.icon-move:before {
  content: "\e76c"; }

.icon-tab:before {
  content: "\e76d"; }

.icon-warning:before {
  content: "\e76e"; }

.icon-circle-exclamation:before {
  content: "\e76f"; }

.icon-circle-question:before {
  content: "\e770"; }

.icon-circle-checkmark:before {
  content: "\e771"; }

.icon-circle-cross:before {
  content: "\e772"; }

.icon-circle-plus:before {
  content: "\e773"; }

.icon-circle-minus:before {
  content: "\e774"; }

.icon-circle-up:before {
  content: "\e775"; }

.icon-circle-down:before {
  content: "\e776"; }

.icon-circle-left:before {
  content: "\e777"; }

.icon-circle-right:before {
  content: "\e778"; }

.icon-circle-up2:before {
  content: "\e779"; }

.icon-circle-down2:before {
  content: "\e77a"; }

.icon-circle-left2:before {
  content: "\e77b"; }

.icon-circle-right2:before {
  content: "\e77c"; }

.icon-circle-backward:before {
  content: "\e77d"; }

.icon-circle-first:before {
  content: "\e77e"; }

.icon-circle-previous:before {
  content: "\e77f"; }

.icon-circle-stop:before {
  content: "\e780"; }

.icon-circle-play:before {
  content: "\e781"; }

.icon-circle-pause:before {
  content: "\e782"; }

.icon-circle-next:before {
  content: "\e783"; }

.icon-circle-last:before {
  content: "\e784"; }

.icon-circle-forward:before {
  content: "\e785"; }

.icon-circle-eject:before {
  content: "\e786"; }

.icon-crop:before {
  content: "\e787"; }

.icon-frame:before {
  content: "\e788"; }

.icon-ruler:before {
  content: "\e789"; }

.icon-funnel:before {
  content: "\e78a"; }

.icon-flip-horizontal:before {
  content: "\e78b"; }

.icon-flip-vertical:before {
  content: "\e78c"; }

.icon-subtract:before {
  content: "\e78d"; }

.icon-combine:before {
  content: "\e78e"; }

.icon-intersect:before {
  content: "\e78f"; }

.icon-exclude:before {
  content: "\e790"; }

.icon-align-center-vertical:before {
  content: "\e791"; }

.icon-align-right:before {
  content: "\e792"; }

.icon-align-bottom:before {
  content: "\e793"; }

.icon-align-left:before {
  content: "\e794"; }

.icon-align-center-horizontal:before {
  content: "\e795"; }

.icon-align-top:before {
  content: "\e796"; }

.icon-square:before {
  content: "\e797"; }

.icon-circle:before {
  content: "\e798"; }
